#useDynLib()
#package 'isopam' does not have a name space
#importFrom(isopam, isopam)
#package 'optpart' does not have a name space
#importFrom(optpart, optpart, partana, tabdev, disdiam)

import(methods)
importFrom(utils, head, tail)
importFrom(Hmisc, latex)
importFrom(sp, coordinates)
importFrom(graphics, plot, hist)
importFrom(cluster, agnes, pam, silhouette)

exportPattern("^[[:alpha:]]+")
exportMethods(
    "[",
    "$",
    "Abbreviation",
    "Abbreviation<-",
    "AbundanceScale",
    "AbundanceScale<-",
    "AprioriGrouping",
    "Arrange",
    "as.binary",
    "as.character",
    "as.numeric",
    "coerce",
    "colSums",
    "Confus",
    "Constancy",
    "Contingency",
    "coordinates",
    "DecomposeNames",
    "dim",
    "Disdiam",
    "Fidelity",
    "FisherTest",
    "getDist",
    "getDistconnected",
    "getK",
    "getStat",
    "head",
    "Indpower",
    "Indspc",
    "Indval",
    "Isamic",
    "Latex",
    "Layers",
    "Layers<-",
    "Multipatt",
    "Murdoch",
    "names",
    "ncol",
    "nrow",
    "Optindval",
    "Optsil",
    "Partana",
    "Partitioning",
    "PartitioningMatrix",
    "Phi",
    "plot",
    "Richness",
    "rownames",
    "rowSums",
    "SigFidelity",
    "Silhouette",
    "Sites",
    "Sites<-",
    "SitesLong",
    "SitesLong<-",
    "SpatialPointsVegsoup",
    "SpatialPointsVegsoup<-",
    "SpatialPolygonsVegsoup",
    "SpatialPolygonsVegsoup<-",
    "SpeciesLong",
    "SpeciesLong<-",
    "Spread",
    "Stride",
    "summary",
    "Tabdev",
    "tail",
    "Taxonomy",
    "Taxonomy<-",
    "Typal" 
)
exportClasses(
    "Vegsoup",
     "VegsoupData",
     "VegsoupDataLaTex",
     "VegsoupDataLaTexSites",
     "VegsoupDataLaTexSpecies",
     "VegsoupDataPartition",
     "VegsoupDataPartitionFidelity" 
)
