#useDynLib(vegsoup)

import(methods)
import(coenoflex)
importFrom(optpart, optpart, partana, tabdev, disdiam)
importFrom(multitable, data.list)
importFrom("graphics", plot, hist)
importFrom("stats", as.dist)
importFrom("utils", head, tail)
importFrom("vegan", coverscale, vegdist, decostand, distconnected)
importFrom("sp", coordinates, bbox, spplot, proj4string, spTransform, Spatial, SpatialPointsDataFrame, SpatialPolygonsDataFrame, CRS)
#importFrom("rgdal", spTransform)
importFrom("cluster", ellipsoidhull, agnes, pam) #silhouette

#importFrom("Hmisc", latex)
#importFrom("googleVis", gvisMap)
#importFrom("isopam", isopam)

#exportPattern("^[^\\.]")
exportPattern("^[[:alpha:]]+")
exportMethods(
    "[",
    "$",
    "abbr",
    "AprioriGrouping",
    "Accuracy",
    "Association",
    "as.vector",
    "as.matrix",
    "as.character",
    "as.logical",
    "as.numeric",
#    "as.data.frame",
    "as.dist",
    "bind",
    "coerce",
    "colSums",
    "colMeans",
    "Confus",
    "Constancy",
    "Contingency",
    "coverscale",
    "coordinates",
    "decostand",
    "dim",
    "Disdiam",
    "elevation",
    "fill",
    "Fidelity",
    "FisherTest",
    "distconnected",
    "getK",
    "getStat",
    "QuickMap",	
    "head",
    "coldiss",
    "Importance",
    "indices",
    "Indpower",
    "Indspc",
    "Indval",
#   "instant",
    "Isamic",
    "is.continuous",
    "is.ordinal",
    "Latex",
    "Layers",
    "Layers<-",
    "Murdoch",
    "names",
#   "names<-",
    "ncol",
    "nrow",
    "Optindval",
    "Optsil",
    "outlier",
    "Partana",
    "Partitioning",
    "PartitioningMatrix",
    "Phi",
    "plot",
    "richness",
    "rownames",
#   "rownames<-",
    "rowSums",
    "rowMeans",
    "SampleVegsoup",
    "seriation",
    "SigFidelity",
    "Silhouette",
    "species",
    "Sites",
    "sites",
    "Sites<-",
    "split.abbr",
    "SpatialPointsVegsoup",
    "SpatialPolygonsVegsoup",
    "Species",
    "Species<-",
#    "Specieslist",	
    "spread",
    "Stride",
    "summary",
    "Tabdev",
    "tail",
    "taxonomy",
    "Taxonomy",
    "Taxonomy<-",
    "typical",
    "vegdist" 
)
exportClasses(
     "Coverscale",
     "Species",
     "Sites",
     "Taxonomy",
     "SpeciesTaxonomy",
     "Vegsoup",
     "VegsoupPartition",
     "VegsoupPartitionFidelity",
     "VegsoupOptimstride"
)

# ensure that dispatch also works inside base functions
S3method(as.matrix, Vegsoup)
S3method(as.array, Vegsoup)
S3method(as.vector, Vegsoup)
#S3method(coverscale, Vegsoup)
#S3method(vegdist, Vegsoup)
#S3method(as.dist, Vegsoup)
#S3method(as.data.frame, Vegsoup)
#S3method(as.mefa, Vegsoup)
#S3method(as.sparseMatrix, Vegsoup)